.banner2-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://wallpapercave.com/wp/wp5630087.jpg');
  background-position: bottom;
}
.banner2-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner2-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.banner2-title {
  color: #ffffff;
  text-align: center;
}
.banner2-text {
  color: #ffffff;
  text-align: center;
}
.banner2-button {
  z-index: 100;
  border-color: #366164;
  text-decoration: none;
  background-color: rgb(78, 187, 174);
}
