.content-list5-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0px;
}
.content-list5-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list5-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.content-list5-container2 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list5-li {
  align-items: flex-start;
}
.content-list5-heading7 {
  align-self: center;
  text-align: center;
}
.content-list5-ul1 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list5-container3 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list5-li03 {
  align-items: flex-start;
}
.content-list5-heading1 {
  align-self: center;
  text-align: center;
}
.content-list5-ul3 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list5-container4 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list5-li09 {
  align-items: flex-start;
}
.content-list5-heading10 {
  align-self: center;
  text-align: center;
}
.content-list5-ul5 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
@media(max-width: 767px) {
  .content-list5-ul1 {
    padding-left: var(--dl-space-space-threeunits);
  }
  .content-list5-ul3 {
    padding-left: var(--dl-space-space-threeunits);
  }
  .content-list5-ul5 {
    padding-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .content-list5-ul1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .content-list5-ul3 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .content-list5-ul5 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}
