.footer13-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer13-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer13-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer13-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer13-image1 {
  height: 2rem;
}
.footer13-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer13-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer13-container {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footer13-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footer13-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer13-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer13-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer13-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer13-link1 {
  text-decoration: none;
}
.footer13-link2 {
  text-decoration: none;
}
.footer13-link3 {
  text-decoration: none;
}
.footer13-link4 {
  text-decoration: none;
}
.footer13-link5 {
  text-decoration: none;
}
.footer13-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer13-column2-title {
  text-decoration: none;
}
.footer13-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer13-link6 {
  text-decoration: none;
}
.footer13-link8 {
  text-decoration: none;
}
.footer13-link9 {
  text-decoration: none;
}
.footer13-link10 {
  text-decoration: none;
}
.footer13-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer13-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer13-link {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer13-link1 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
.footer13-platform-tik-tok-color-original {
  width: 24px;
  height: 24px;
}
.footer13-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
.footer13-link3 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer13-link4 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer13-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.footer13-row {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer13-footer-links2 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer13-link11 {
  text-decoration: none;
}
.footer13-link12 {
  text-decoration: none;
}
.footer13-link13 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .footer13-newsletter {
    width: 300px;
  }
  .footer13-form {
    width: 100%;
    flex-direction: column;
  }
  .footer13-container {
    width: 100%;
  }
  .footer13-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer13-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer13-content {
    flex-direction: column;
  }
  .footer13-newsletter {
    width: 100%;
  }
  .footer13-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer13-container {
    width: 100%;
  }
  .footer13-button {
    width: 208px;
  }
  .footer13-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer13-column1 {
    align-items: center;
  }
  .footer13-column1-title {
    text-align: center;
  }
  .footer13-footer-links {
    align-self: center;
  }
  .footer13-column2 {
    align-items: center;
  }
  .footer13-column2-title {
    text-align: center;
  }
  .footer13-footer-links1 {
    align-self: center;
  }
  .footer13-column3 {
    align-items: center;
  }
  .footer13-social-link1-title {
    text-align: center;
  }
  .footer13-social-links {
    align-self: center;
  }
  .footer13-row {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .footer13-actions {
    width: 100%;
  }
  .footer13-form {
    width: 100%;
    flex-direction: column;
  }
  .footer13-container {
    width: 100%;
  }
  .footer13-button {
    width: 100%;
  }
  .footer13-links {
    flex-direction: column;
  }
  .footer13-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer13-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer13-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer13-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer13-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer13-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer13-credits {
    gap: 0;
  }
  .footer13-row {
    align-items: center;
    justify-content: center;
  }
  .footer13-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
