.hero91-header30 {
  gap: var(--dl-space-space-twounits);
}
.hero91-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.hero91-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("/symbole-arbre-de-vie-signification-1024x576-3309628053%20(1)-1500w.jpg");
  background-position: center;
}
.hero91-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
.hero91-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero91-text {
  text-align: center;
}
.hero91-text1 {
  text-align: center;
}
.hero91-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}

@media(max-width: 991px) {
  .hero91-text {
    text-align: center;
  }
  .hero91-text1 {
    text-align: center;
  }
  .hero91-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .hero91-button {
    width: 208px;
  }
}
@media(max-width: 479px) {
  .hero91-header30 {
    padding-top: var(--dl-space-space-fiveunits);
  }
  .hero91-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero91-button {
    width: 100%;
  }
}
